---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="usrland">
  <div class="index-content framed">
    <h1>$ usrland</h1>

    <p>
      Field notes on Linux, Debian, self-hosting, packaging, and tools.
    </p>

    <p>
      Written by Mage.  
      No tutorials. No hype. Just things that broke and how they were fixed.
    </p>
  </div>

  <div class="posts">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>
